<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>sunxiang0918</string>
	<key>Builder Version</key>
	<string>7534.48.3</string>
	<key>CFBundleDisplayName</key>
	<string>safariweibotool</string>
	<key>CFBundleIdentifier</key>
	<string>com.gmail.sunxiang0918.safariweibotool</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Menus</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>unReadMenu</string>
				<key>Menu Items</key>
				<array>
					<dict>
						<key>Command</key>
						<string>commentsMenuAction</string>
						<key>Identifier</key>
						<string>commentsMenu</string>
						<key>Title</key>
						<string>新评论数:0</string>
					</dict>
					<dict>
						<key>Command</key>
						<string>dmMenuAction</string>
						<key>Identifier</key>
						<string>dmMenu</string>
						<key>Title</key>
						<string>新私信数:0</string>
					</dict>
					<dict>
						<key>Command</key>
						<string>followersMenuAction</string>
						<key>Identifier</key>
						<string>followersMenu</string>
						<key>Title</key>
						<string>新粉丝数:0</string>
					</dict>
					<dict>
						<key>Command</key>
						<string>mentionsMenu</string>
						<key>Identifier</key>
						<string>mentionsMenu</string>
						<key>Title</key>
						<string>新@我数:0</string>
					</dict>
					<dict>
						<key>Separator</key>
						<true/>
					</dict>
					<dict>
						<key>Command</key>
						<string>openWeiBoMenuAction</string>
						<key>Identifier</key>
						<string>openWeiBoMenu</string>
						<key>Title</key>
						<string>打开我的微博</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>weiboButtonAction</string>
				<key>Identifier</key>
				<string>weibobutton</string>
				<key>Image</key>
				<string>logo.png</string>
				<key>Label</key>
				<string>weibobutton</string>
				<key>Menu</key>
				<string>unReadMenu</string>
				<key>Palette Label</key>
				<string>weibobutton</string>
				<key>Tool Tip</key>
				<string>新浪微薄safari</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>jquery-1.6.2.min.js</string>
				<string>oauth.js</string>
				<string>sha1.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>styles.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>safari版新浪微博工具</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
</dict>
</plist>
