<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>useExisting</string>
		<key>Title</key>
		<string>点击后,直接跳转到已打开的新浪微博页面</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>2</real>
		<key>Key</key>
		<string>checkInterval</string>
		<key>Title</key>
		<string>查询间隔时间</string>
		<key>Titles</key>
		<array>
			<string>1分钟</string>
			<string>2分钟</string>
			<string>5分钟</string>
			<string>10分钟</string>
			<string>20分钟</string>
			<string>30分钟</string>
			<string>45分钟</string>
			<string>60分钟</string>
		</array>
		<key>Type</key>
		<string>ListBox</string>
		<key>Values</key>
		<array>
			<real>1</real>
			<real>2</real>
			<real>5</real>
			<real>10</real>
			<real>20</real>
			<real>30</real>
			<real>45</real>
			<real>60</real>
		</array>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>oauth_verifier</string>
		<key>Password</key>
		<true/>
		<key>Title</key>
		<string>应用授权号码PIN</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>oauth_token</string>
		<key>Title</key>
		<string>oauth_token</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>oauth_token_secret</string>
		<key>Title</key>
		<string>oauth_token_secret</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>access_token</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>access_token_secret</string>
	</dict>
</array>
</plist>
